@charset "utf-8";
/* CSS Document */

body{
	font-family:"微软雅黑"; 
	color:#4d4d4d;
}
@media(min-width:768px) {
.container {
width:640px
}
}
@media(min-width:992px) {
.container {
width:640px
}
}
@media(min-width:1200px) {
.container {
width:640px
}
}

img { max-width: 100%;}


.banner{
	width:100%;
	margin:0 -15px 0 -15px;
}

h3{
	color:#dd7700;
	font-size:1.5em;
	line-height:1.5em;
}

.form-content{
	border-top:1px solid #dd7700;
	margin-top:20px;
}

.field {
padding: 15px;
}

.field-content {
padding-top: 3px;
}

.field-label{

font-size: 1.167em;
font-weight: bold;
color: rgb(233, 34, 26);
}
.choices{
border: 1px solid #fff;
border-radius: 2px;
}

.font-family-inherit {
font-family: inherit;
}

.radio, .checkbox {
position: relative;
display: block;
margin-top: 10px;
margin-bottom: 10px;
margin-left:30px;
}
label {
max-width: 100%;
font-weight: bold;
}

.radio-button-wrapper {
position: relative;
display: inline-block;
padding: 0;
width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
vertical-align: middle;
margin: -3px 1px 0 -10px;
position: absolute;

}

.btn{
	background:#dd7700;
	border:1px solid #dd7700;
}

.report-form-link {
position: absolute;
right: 30px;
bottom: -20px;
color: #848484;
}