<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>鄂尔多斯峰会后台管理系统</title>
	<div th:replace="../templates/common/res :: html"></div>
<script src="/assets/js/jquery-1.11.2.min.js"
	type="text/javascript"></script>

<script type="text/javascript" src="/js/video/base64.js"></script>

<style>
.radio, .checkbox {
	position: relative;
	margin-left: 31px;
}
</style>
</head>

<body class=" ">
	<!-- START TOPBAR -->
	<div class='page-topbar '>
		<div class='logo-area'></div>
		<!-- head start -->
		<div th:replace="../templates/common/head :: html"></div>
		<!-- head end -->
	</div>
	<!-- END TOPBAR -->
	<!-- START CONTAINER -->
	<div class="page-container row-fluid">

		<!-- SIDEBAR - START -->
		<div class="page-sidebar ">
			<!-- MAIN MENU - START -->
			<!-- <c:set var="tindex" value="2"/> -->
			<div th:replace="../templates/common/menu :: html"></div>
			<!-- MAIN MENU - END -->
		</div>
		<!--  SIDEBAR - END -->

		<!-- START CONTENT -->
		<section id="main-content" class=" ">
			<section class="wrapper"
				style='margin-top: 60px; display: inline-block; width: 100%; padding: 15px 0 0 15px;'>
				<!-- data start -->
				<div class="col-lg-12">
					<section class="box ">
						<header class="panel_header">
							<ol class="breadcrumb">
								<li><a><i class="fa fa-home"></i>报名信息管理</a></li>
								<li class="active"><a>报名信息列表</a></li>
							</ol>
						</header>
						<div class="content-body">

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">

									<div class="dataTables_wrmessageer form-inline">
										<div class="dataTables_wrapper form-inline">
											<div class="input-group">
												<form >
													<input th:id="mobile" type="text"
														class="form-control animated fadeIn"
														placeholder="选手ID或手机号" th:value="${query}">
														
													<input type="button" th:onclick="javascript:chaxun()" class="input-group-addon input-focus"
														value="查询">
												</form>
											</div>
										</div>
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>姓名</th>
													<th>手机号</th>
													<th>年龄</th>
													<th>公司</th>
													<th>性别</th>
													<th>身份证号</th>
													<th>提交信息时间</th>
												</tr>
											</thead>

											<tbody>
													<tr class="odd" th:each="u: ${enrolPage.list}">
														<td style="width:10%" th:text="${u.username}">${u.username}</td>
														<td style="width:10%"th:text="${u.tel}">${u.tel}</td>
														<td style="width:8%"th:text="${u.age}">${u.age}</td>
														<td style="width:24%;word-break:break-all"th:text="${u.company}">${u.company}</td>
														<td style="width:8%" th:if="${0 eq u.sex}" th:text="'男'"></td> 
														<td style="width:8%" th:if="${1 eq u.sex}" th:text="'女'"></td> 
														<td style="width:18%"th:text="${u.IdNumber}">${u.IdNumber}</td>
														<td style="width:22%">
															<span th:text="${#dates.format(u.insertDate, 'yyyy-MM-dd HH:mm:ss')}">4564546</span></td>
													</tr>
											</tbody>
										</table>
										<div class="row">
											<div class="col-xs-6">
												<div class="dataTables_info">共<span th:text="${enrolPage.total}"></span>条数据/每页<span th:text="${enrolPage.size}"></span>条</div>
											</div>
											<div class="col-xs-6">
												<!-- page start -->
												<div class="dataTables_paginate paging_bootstrap">
													<ul class="pagination">
														<div class="pagination btn-sm">
															<!--/production/index/{pageno}?moblie=$grou_id=-->
															<li class="prev disabled"><a th:if="${enrolPage.hasPreviousPage} == false" th:text="'← Previous'">← Previous</a>
															</li>
															<li class="prev "><a th:if="${enrolPage.hasPreviousPage} == true"
																				 th:href="@{/enrol/getEnrol/{pageno}(pageno=${enrolPage.prePage},query=${query})}"
																				 th:text="'← Previous'">← Previous</a></li>
															<li class="active"><a
																	th:href="@{/enrol/getEnrol/{pageno}(pageno=${enrolPage.pageNum},query=${query})}"
																	th:text="${enrolPage.pageNum}">1</a></li>
															<li th:if="${enrolPage.hasNextPage}">
																<a th:href="@{/enrol/getEnrol/{pageno}(pageno=${enrolPage.nextPage},query=${query})}"
																   th:text="${enrolPage.nextPage}">2</a></li>
															<li th:if="${enrolPage.nextPage+1 <enrolPage.pages && enrolPage.hasNextPage} ">
																<a th:href="@{/enrol/getEnrol/{pageno}(pageno=${enrolPage.nextPage+1},query=${query})}"
																   th:text="${enrolPage.nextPage+1}">3</a></li>
															<li><span>…</span></li>
															<li th:if="${enrolPage.pages} > 1">
																<a th:href="@{/enrol/getEnrol/{pageno}(pageno=${enrolPage.pages-1},query=${query})}"
																   th:text="${enrolPage.pages-1}">99</a></li>
															<li>
																<a th:href="@{/enrol/getEnrol/{pageno}(pageno=${enrolPage.pages},query=${query})}"
																   th:text="${enrolPage.pages}">100</a></li>
															<li class="next"><a th:if="${enrolPage.hasNextPage == true}"
																				th:href="@{/enrol/index/{pageno}(pageno=${enrolPage.nextPage},query=${query})}"
																				th:text="'Next →'">Next →</a></li>
															<li class="next disabled"><a th:if="${enrolPage.hasNextPage == false}" th:text="'Next →'">Next →</a></li>
														</div>
													</ul>
												</div>
												<!-- page start -->
											</div>
										</div>


									</div>

								</div>
							</div>
						</div>
					</section>
				</div>
				<!-- data end -->

			</section>
		</section>
		<!-- END CONTENT -->

	</div>
	<!-- END CONTAINER -->
	<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->


	<!-- CORE JS FRAMEWORK - START -->
	<script src="/assets/js/jquery-1.11.2.min.js"
		type="text/javascript"></script>
	<script src="/assets/js/jquery.easing.min.js"
		type="text/javascript"></script>
	<script
		src="/assets/plugins/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="/assets/plugins/pace/pace.min.js"
		type="text/javascript"></script>
	<script
		src="/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"
		type="text/javascript"></script>
	<script
		src="/assets/plugins/viewport/viewportchecker.js"
		type="text/javascript"></script>
	<!-- CORE JS FRAMEWORK - END -->


	<!-- CORE TEMPLATE JS - START -->
	<script src="/assets/js/scripts.js"
		type="text/javascript"></script>
	<!-- END CORE TEMPLATE JS - END -->

	<!-- Sidebar Graph - START -->
	<script
		src="/assets/plugins/sparkline-chart/jquery.sparkline.min.js"
		type="text/javascript"></script>
	<script src="/assets/js/chart-sparkline.js"
		type="text/javascript"></script>
	<!-- Sidebar Graph - END -->

	<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
	<script
		src="/assets/plugins/messenger/js/messenger.min.js"
		type="text/javascript"></script>
	<script
		src="/assets/plugins/messenger/js/messenger-theme-future.js"
		type="text/javascript"></script>
	<script
		src="/assets/plugins/messenger/js/messenger-theme-flat.js"
		type="text/javascript"></script>
	<script src="/assets/js/messenger.js"
		type="text/javascript"></script>
	<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

	<!-- video checkbox start-->
	<script src="/assets/plugins/icheck/icheck.js"
		type="text/javascript"></script>
	<!-- video checkbox end-->



	<script th:inline="javascript">
        //查询按钮
        function chaxun() {
            var mobile = $("#mobile").val();
            location.href="/enrol/getEnrol/1?query="+mobile;
        }
	</script>



</body>
</html>