<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="www.cnlive.com" name="author" />
        <meta content="鄂尔多斯峰会后台管理系统" name="description" />

        <link rel="shortcut icon" href="http://yweb1.cnliveimg.com/cnlive/main/favicon.ico" type="image/x-icon" />    <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" href="http://yweb1.cnliveimg.com/cnlive/main/favicon.ico">  <!-- For iPhone -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://yweb1.cnliveimg.com/cnlive/main/favicon.ico">    <!-- For iPhone 4 Retina display -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://yweb1.cnliveimg.com/cnlive/main/favicon.ico">    <!-- For iPad -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://yweb1.cnliveimg.com/cnlive/main/favicon.ico">    <!-- For iPad Retina display -->

        <!-- CORE CSS FRAMEWORK - START -->
        <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS FRAMEWORK - END -->

        <!-- CORE CSS TEMPLATE - START -->
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS TEMPLATE - END -->

        <!-- user table start-->
        <link href="/assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
        <!-- user table end  -->

        <!-- video checkbox start-->
        <link href="/assets/plugins/icheck/skins/minimal/minimal.css" rel="stylesheet" type="text/css"/>
        <!-- video checkbox end-->

        <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
        <link href="/assets/plugins/messenger/css/messenger.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/assets/plugins/messenger/css/messenger-theme-future.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/assets/plugins/messenger/css/messenger-theme-flat.css" rel="stylesheet" type="text/css" media="screen"/>
        <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 
